<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Wingr &gt; {% block title %}On-demand dating advice when you need it most!{% endblock %}</title>
        
        <link rel="stylesheet" href="{{ asset('bundles/wingrapp/css/bootstrap.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/wingrapp/css/bootstrap-responsive.css') }}" type="text/css" media="all" />        
        <link href="{{ asset('bundles/wingrapp/css/utils.less') }}" rel="stylesheet/less" type="text/css">
        <link href="{{ asset('bundles/wingrapp/css/styles.less') }}" rel="stylesheet/less" type="text/css">        
        <link href="{{ asset('bundles/wingrapp/css/pof.less') }}" rel="stylesheet/less" type="text/css">
        {% if theme is defined and theme == "pof" %}
            
        {% endif %}
        
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>		
        
        <script type="text/javascript" src="{{ asset('bundles/wingrapp/js/jquery-1.10.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wingrapp/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wingrapp/js/less-1.4.1.min.js') }}"></script>
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{% block body_classes %}{% endblock %}">
    
        {% block header %}
	  	<div class="header">
	  		<div class="container">
	  		    <div class="row-fluid">
		    		<div class="span12">
		    			<div class="pull-left"><h3><a href="/">Wingr</a></h3></div>
		    			<div class="pull-right">
		    				<ul class="listless">
		    					<li><a href="{{ url("homepage") }}">Home</a></li>
		    					<li><a href="{{ url("contact_us") }}">Contact</a></li>
		    					{% if is_granted('ROLE_USER') %}
		    					     <li><a href="{{ url("user_dashboard") }}">Dashbard</a></li>
		    					     <li><a href="{{ url("fos_user_security_logout") }}">Logout</a></li>
		    					{% else %}
    		    					<li><a class="signup" href="{{ url("homepage") }}">Sign Up</a></li>    		    					
    		    					<li class="login-btn-container"><a class="btn btn-primary" href="{{ url("fos_user_security_login") }}">Login</a></li>
    		    			   {% endif %}
		    				</ul>
		    			</div>
		    			<div class="clearfix"></div>
		    		</div>
	    		</div>
	  		</div>
	  	</div>
	  	<div class="pof-header"><div class="pof-header-inner">{% block pof %}&nbsp;{% endblock pof %}</div></div>    
        {% endblock %}
    
        {% block body %}{% endblock %}
        
        
        {% block footer %}
	  	<div class="footer">
	  		<div class="container">
	  		    <div class="row-fluid">
		    		<div class="span12">
		    			<div class="pull-left"><h3><a href="/">&copy; 2013 Wingr</a></h3></div>
		    			<div class="pull-right">
		    				<ul class="listless">
		    					<li><a href="mailto:support@wingr.com">support@wingr.com</a></li>
		    					<li>|</li>
		    					<li>xxx-xxx-xxxx</li>
		    				</ul>
		    			</div>
		    			<div class="clearfix"></div>
		    		</div>
	    		</div>
	  		</div>
	  	</div>	        
        {% endblock %}   
    </body>
</html>
