{% extends '::base.html.twig' %}

{% block pof %}Wingr lets you ask dating <em>consultants</em> your online dating <em>questions</em>.{% endblock pof %}

{% block body %}

<div class="container home homepage-two">

    <div class="row-fluid">
        <div class="span12">                                   
            <div class="container-inner homepage-corners padded-top">
            
                <div class="row-fluid">                    
                    <div class="span7">
                        <h3 class="blue">Online dating is hard but we're the perfect sidekick</h3>
                        <p class="copy-spaced">Struggling with online dating? 
                           Ask Wingr consultants what's on your mind and they'll work with you to figure it out.
                           From date ideas to how to respond to text messages, our consultants are the bees knees at cracking the online dating code.</p>
                           
	                    <form class="signup-form form-horizontal" method="POST" action="{{ url("registration_start") }}">
	                      <fieldset>                  
	                      	<legend>Ask your first question for FREE!</legend>
	                      	                            
                                {% set notices = app.session.flashbag.get('notice') %} 
                                {% if notices|length > 0 %}
                                <div class="alert alert-error">
                                    {% for msg in notices %}
                                        {{ msg }}
                                    {% endfor %}
                                </div>	                      	
	                      	    {% endif %}	                      	
	                      	
	                        <input type="hidden" name="isValid" value="0xDEADBEEF" />                        
	                        <div class="control-group">
	                            <label class="control-label" for="inputEmail">Name</label>
	                            <div class="controls">
	                                <input name="form[name]" type="text" id="inputEmail" placeholder="Name" required>
	                            </div>
	                        </div>
	                    
	                        <div class="control-group">
	                            <label class="control-label" for="inputEmail">Email</label>
	                            <div class="controls">
	                                <input name="form[email]" type="email" id="inputEmail" placeholder="Email" required>
	                            </div>
	                        </div>

                            <div class="control-group">
                                <label class="control-label" for="inputEmail">Age</label>
                                <div class="controls">
                                    <input name="form[age]" type="text" id="inputAge" placeholder="Age" required>
                                </div>
                            </div>
	                        
	                        <div class="control-group">	                            
                               <select name="form[gender]">
                                   <option value="">I am a...</option>
                                   <option value="guy">Guy</option>
                                   <option value="girl">Girl</option>
                                   <option value="other">Other</option>
                               </select>                               
                               <select name="form[lookingFor]">
                                   <option value="">And I'm interested in...</option>
                                   <option value="guys">Guys</option>
                                   <option value="girls">Girls</option>
                                   <option value="both">Both</option>
                               </select>                               
	                        </div>
	                                               
	                        <div class="control-group">
	                           <label class="control-label" for="inputQuestion">Your Question</label>
	                           <div class="controls">
	                               <textarea id="inputQuestion" name="form[question]" placeholder="What are some good outdoor dates?"></textarea>
	                           </div>	                                                  
                            </div>
                            	                                                   
	                        <div class="centered">
	                            <input name="form[source]" type="hidden" id="inputSource" value="{{ source }}">
	                            <input type="submit" class="btn btn-primary btn-large" value="Ask your question!" />
	                        </div>
	                     </fieldset>
	                    </form>                                                                         
                    </div>
                    <div class="span5 recent-requests">
                        <h3 class="blue">Recent requests</h3>
                        
                        <div class="request-row">
                            <div class="photo"><img src="{{ asset("/bundles/wingrapp/img/15466075140660231666.jpeg") }}"/></div>
                            <div class="copy">
                                What are some good restaurants for a date in Boston, MA?
                                <div class="user">Mike, 25m, Boston</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="request-row">
                            <div class="photo"><img src="{{ asset("/bundles/wingrapp/img/7438094552256217220.jpeg") }}"/></div>
                            <div class="copy">
                                Is my profile interesting enough?
                                <div class="user">Jessica, 22f, Miami</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="request-row">
                            <div class="photo"><img src="{{ asset("/bundles/wingrapp/img/2526265679139027336.jpeg") }}"/></div>
                            <div class="copy">
                                How should I respond to this text message?
                                <div class="user">Ruby, 24f, Dallas</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        
                    </div>
                </div>
                
                <div class="row-fluid padded-top">
                    <div class="span12">                         
                        <div class="centered blue"><h3>Ask 10 questions for only $9.99/mon. <a class="signup" href="#">Sign up!</a></h3></div>
                    </div>
                </div>                
                
                <div class="row-fluid centered padded-top">
                    <div class="span12">                
                        <ul class="listless inline checklist">
                            <li><img src="{{ asset("/bundles/wingrapp/img/check_mark.png") }}"/> Works with any site!</li>
                            <li><img src="{{ asset("/bundles/wingrapp/img/check_mark.png") }}"/> 100% private and secure</li>
                            <li><img src="{{ asset("/bundles/wingrapp/img/check_mark.png") }}"/> Mobile friendly, use Wingr on the go</li>                            
                        </ul>    
                    </div>
                </div>
                
                <div class="row-fluid padded-top padded-bottom">
                    <div class="span12"><h3 class="title">What they're saying about us</h3></div>                    
                </div>
                
                <div class="row-fluid">
                    <div class="span10 offset1">
                
                        <div class="row-fluid">                    
                            <div class="span2">
                                
                            </div>
                            <div class="span10">
                                <div class="testimonial-text">
                                "I used to choke up on little things like "How should I respond to this text?", or 'How do I transition this email conversation into flirting?', now I just ask Wingr for a little advice."
                                </div>
                            </div>    
                        </div>
        
                        <div class="row-fluid padded-top">                    
                            <div class="span10">
                                <div class="testimonial-text">
                                "My Wingr personal dating advisor gave me the confidence to go from an initial meeting to a long term meaningful relationship."
                                </div>
                            </div>
                            <div class="span2">
                                
                            </div>                        
                        </div>
                        
                        <div class="row-fluid padded-top">                    
                            <div class="span2">
                                
                            </div>
                            <div class="span10">
                                <div class="testimonial-text">
                                "What are the benefits to setting a Tuesday date vs. a Thursday, or Saturday? Wingr was able to help me understand my dating options."
                                </div>
                            </div>    
                        </div>                                                
                    </div>
                </div>
             
                <div class="row-fluid padded-top">
                    <div class="span12"><h3 class="title">Sign Up Now!</h3></div>                    
                </div>             
             
                <div class="row-fluid">
                    <div class="span12">                         
                        <div class="centered blue"><h3>Ask 10 questions for only $9.99/mon.</h3></div>
                    </div>
                </div>                             

                <div class="row-fluid">
                    <div class="span6 offset3">                                      
                    <form class="form-horizontal" method="POST" action="{{ url("registration_start") }}">
                      <fieldset>                        
                        <input type="hidden" name="isValid" value="0xDEADBEEF" />                        
                        <div class="control-group">
                            <label class="control-label" for="inputEmail">Name</label>
                            <div class="controls">
                                <input name="form[name]" type="text" id="inputEmail" placeholder="Name" required>
                            </div>
                        </div>
                    
                        <div class="control-group">
                            <label class="control-label" for="inputEmail">Email</label>
                            <div class="controls">
                                <input name="form[email]" type="email" id="inputEmail" placeholder="Email" required>
                            </div>
                        </div>
                                                                        
                        <div class="centered">      
                            <input type="submit" class="btn btn-primary btn-large" value="Sign Up Now!" />
                        </div>
                     </fieldset>
                    </form>              
                 </div>
             </div>
             
            </div>   
        </div>
    </div>
    
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".signup").click(function(){
        $("#inputEmail").focus();
        return false;
    });
  });
</script>
{% endblock %}